@grey: #727373;
@green: #707c4d;

body{
  background: @grey;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  height: 100%;
  margin: 0;
}

.parallax{
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  //min-height: 500px;
  min-height: 100vh;
  opacity: 0.7;
  position: relative;
  height: 100%;
  width: 100%;

  &.one{
    background-image: url("/birch.jpg");
  }

  &:after{
    background: rgba(50, 50, 50, 0.7);
    content: "";
    position: absolute; top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  #home{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    padding: 30px;
    text-align: center;

    .heading{
      font-size: 60px;
    }

    .subheading{
      font-size: 30px;
      margin: 0 0 70px;
    }

  }//#home

  .navigation{
    font-weight: bold;
    padding: 15px;
    text-align: right;

    a{
      color: #fff;
      font-size: 20px;
      padding: 15px;
      text-decoration: none;

      &:hover{
        background: fade(#000, 20%);
        transition: 5;
      }
    }
  } //navigation

}//parallax

//Global styles
.heading{
  font-family: 'Bad Script', sans-serif;
  font-size: 38px;
  margin: 0;
  text-align: center;
}

.button{
  background: @green;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  text-decoration: none;

  &:hover{
    background: darken(@green, 10%);
  }
}

.fade{opacity: 0;}

.block{
  background: @grey;

  .container{
    //height: 700px;
    padding: 70px 0;
    margin: auto;
    width: 90%;
  }

    &:last-of-type .container{
      height: auto;
      margin: 0 auto 10px;
    }
}

.divider{
  background-color: fade(#fff, 50%);
  height: 2px;
  margin: auto;
  width: 70%;
}
//End of Global Styles

.servicios{
  border: solid 2px #fff;
  padding: 0;

  li{
    border-bottom: solid 1px #fff;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;

    &.title{
      font-weight: bold;
    }

    .item{
      padding: 15px;
      text-align: center;
      width: 33%;
    }
  }
}//servicios

.about{
  .box{
    display: flex;

      .text{width: 60%;}
      .img-container{
          margin: auto;
          width: 35%;
          .lotus{
            opacity: 0.7;
            width: 100%;}
      }
  }
}

.contact{
  .schedule{
    display: flex;
    justify-content: center;

    .box{
      padding: 30px;

      p{margin: 0;}

      .subheading{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;

        &:last-of-type{margin-top: 35px;}
      }

      .callbox{
        display: flex;

        .label{
          display: inline;
          font-weight: bold;

          .info{
            display: inline;
            font-weight: normal;
          }
        }
      }
    }
  }
}
