//Variables
//window sizes
@screen-lg: 1319px;
@screen-md: 1080px;
@screen-sm: 859px;
@screen-xs: 699px;
@screen-xxs: 559px;

//colors
@grey: #727373;
@green: #2e473b;

//fonts
@font-sans: 'Quicksand', sans-serif;
@font-fancy: 'Alex Brush', sans-serif;


//General styles
body{
  background: @grey;
  color: #fff;
  font-family: @font-sans;
  font-size: 18px;
  height: 100%;
  margin: 0;
  position: relative;
}//body

.heading{
  font-family: @font-fancy;
  font-size: 38px;
  font-weight: normal;
  margin: 0 0 50px;
  text-align: center;
}//heading

.button{
  background: @green;
  border: solid 1px @grey;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  text-decoration: none;

  @media(max-width: @screen-xxs){font-size: 18px;}

  &:hover{
    background: darken(@green, 10%);
  }
}//button

.fade{opacity: 0;}

.block{
  background: @grey;

  &:last-of-type .container{
    height: auto;
    margin: 0 auto 10px;
  }//last-of-type .container

  .container{
    padding: 70px 0;
    margin: auto;
    width: 90%;
  }//container
}//block

.divider{
  background-color: fade(#fff, 50%);
  height: 2px;
  margin: auto;
  width: 70%;
}//divider
//End of General Styles

//Navigation
  .navigation{
    font-weight: bold;
    padding: 15px;
    position: absolute; top: 0; right: 0;
    text-align: right;
    width: 100%;
    z-index: 10;

    @media(max-width: @screen-xxs){display: flex; height: 100vh; justify-content: flex-end; overflow: hidden; padding: 0;}

    &.sticky{
      background: darken(@grey, 20%);
      height: auto;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      width: auto;
    }//sticky-nav

    &.sticky + main {
      padding-top: 102px;
    }

    .navigation__burger{
      cursor: pointer;
      display: none;
      @media(max-width: @screen-xxs){display: inline; padding: 15px;}

      .burger{
        background: #fff;
        display: block;
        height: 3px;
        margin: 0 0 5px;
        width: 25px;
      }//burger lines
    }//mobile-menu AKA burger

    .navigation__items{

      @media(max-width: @screen-xxs){
        background: @green;
        min-height: 100vh;
        position: absolute; top: 46px; right: -100%;
        text-align: left;
        width: 100%;
      }
      // @media(max-width: @screen-xxs){display: none;}

      .nav__decorative{
        display: none;
        font-family: @font-fancy;
        font-size: 150px;
        margin: 60px 0;
        text-align: center;

        @media(max-width: @screen-xxs){display: block;}
      }

      //unnecessary with nav animation update!
      // &.mobile-nav{
      //   background: @green;
      //   display: block;
      //   min-height: 100vh;
      //   position: absolute; top: 46px;
      //   text-align: left;
      //   width: 100%;
      // }//mobile-nav

    }//nav-items

    a{
      color: #fff;
      font-size: 20px;
      padding: 15px;
      text-decoration: none;

      @media(max-width: @screen-xxs){display: block;}

      &:hover{
        background: fade(#000, 20%);
        transition: 5;
      }
    }//a
  } //navigation


//Parallax panel
.parallax{
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  opacity: 0.7;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;

  //@media(max-width: @screen-sm){min-height: 95vh;}

  &.one{
    background-image: url("/birch.jpg");
  }//parallax.one

  &:after{
    background: rgba(50, 50, 50, 0.7);
    content: "";
    position: absolute; top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }//parallax after

  //Home/Main header panel
  #home{
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 88vh;
    justify-content: center;
    padding: 30px;
    text-align: center;

    @media(max-width: @screen-sm){min-height: 70vh;}

    .heading{
      font-size: 60px;
      font-weight: normal;

      @media(max-width: @screen-md){font-size: 55px; margin: 0 0 32px;}
      @media(max-width: @screen-sm){font-size: 50px;}
      @media(max-width: @screen-xxs){font-size: 48px;}

      span{
        @media(max-width: @screen-xs){display: block;}
      }
    }//heading

    .subheading{
      align-items: center;
      display: flex;
      font-family: 'Cinzel', serif;
      font-size: 30px;
      margin: 0 0 70px;

      @media(max-width: @screen-md){font-size: 25px; margin: 0 0 60px;}
      @media(max-width: @screen-xxs){font-size: 18px;}

      .rhombus{
        border: 5px solid transparent;
        border-bottom: 10px solid #fff;
        width: 0;
        height: 0;
        margin: 0 20px;
        position: relative;
        top: -10px;

        @media(max-width: @screen-xxs){
          border: 4px solid transparent;
          border-bottom: 8px solid #fff;
          margin: 0 12px;
          top: -8px;
        }

        &:after {
          border: 5px solid transparent;
          border-top: 10px solid #fff;
          content: '';
          position: absolute;
          left: -5px;
          top: 10px;
          width: 0;
          height: 0;

          @media(max-width: @screen-xxs){
            border: 4px solid transparent;
            border-top: 8px solid #fff;
            left: -4px;
            top: 8px;
          }
        }//rhombus:after
      }//rhombus
    }//subheading
  }//#home

}//parallax

//Services panel
.services{
  .content{
    display: flex;
    justify-content: space-between;

    @media(max-width: @screen-md){align-items: center;}
    @media(max-width: @screen-sm){display: block;}

    .img-container{
      opacity: 0.6;
      width: 35%;

      @media(max-width: @screen-sm){
        margin: auto;
        width: 80%;
      }
      @media(max-width: @screen-xxs){
        width: 100%;
      }

      img{width: 100%;}
    }//img-container

    .servicios{
      margin: 0;
      padding: 0;
      width: 59%;

      @media(max-width: @screen-sm){
        margin: 30px auto 0;
        width: 100%;
      }

      li{
        align-items: center;
        display: flex;
        justify-content: space-around;
        list-style: none;
        width: 100%;

        @media(max-width: @screen-xxs){font-size: 16px;}

        &.title{
          align-items: flex-end;
          font-weight: bold;
        }//title

        .item{
          padding: 15px;
          text-align: center;
          width: 33%;

          @media(max-width: @screen-sm){
            padding: 10px;
          }
        }//item
      }//li
    }//servicios
  }//content
}//services

//About panel
.about{
  .box{
    display: flex;

    @media(max-width: @screen-sm){display: block;}

      .text{
        width: 60%;

        @media(max-width: @screen-sm){margin-bottom: 30px; width: 100%;}
      }//text
      .img-container{
          margin: auto;
          width: 35%;

          @media(max-width: @screen-sm){width: 80%;}
          @media(max-width: @screen-xxs){width: 100%;}

          .lotus{
            opacity: 0.6;
            width: 100%;}
      }//img-container
  }//box
}//about

.contact{

  .heading{
    @media(max-width: @screen-md){margin-bottom: 12px;}
  }//heading

  .schedule{
    display: flex;
    justify-content: center;

    @media(max-width: @screen-md){flex-direction: column-reverse;}

    .box{
      padding: 30px;

      @media(max-width: @screen-md){margin: auto; text-align: center;}

      &:first-of-type{
          @media(max-width: @screen-xs){padding: 0; width: 100%;}

          iframe{
            @media(max-width: @screen-xs){width: 100% !important;}
          }//iframe
      }//first box

      p{margin: 0;}

      .subheading{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;

        &:last-of-type{margin-top: 35px;}
      }//subheading

      .callbox{
        display: flex;

        @media(max-width: @screen-md){justify-content: center;}

        .label{
          display: inline;
          font-weight: bold;

          .info{
            display: inline;
            font-weight: normal;
          }//info
        }//label
      }//callbox
    }//box
  }//schedule
}//contact
